*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    padding: 50px 0 50px;
    background-color: white;
    margin: auto;
    width: 300px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

input{
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    margin-left: 130px;
}
p{
    margin-left: 70px;
    margin-bottom: 0px;
}
.wrapper{
    padding-top: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(to left, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: calc(100vh - 70px);

}