<div class="wrapper">
     <div class="container">
          <p>Dodaj nową wycieczkę</p>
     <form [formGroup]="modelForm">
          <div class="name">
               <input type="text" formControlName="Name" required>
          </div>
          <div class="country">
               <input type="text" formControlName="Country" required>
          </div>
          <div class="start">
               <input type="date" formControlName="Start" required>
          </div>
          <div class="end">
               <input type="date" formControlName="End" required>
          </div>
          <div class="price">
               <input type="number" formControlName="Price" required>
          </div>
          <div class="amount">
               <input type="number" formControlName="Amount" required>
          </div>
          <div class="image">
               <input type="text" formControlName="Image" required>
          </div>
          <div class="description">
               <input type="text" formControlName="Description" required>
          </div>
          <button type="submit" (click)="submitForm()">Add</button>
     </form>
     </div>
</div>